body {
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

.title-bar {
  height: 3vh;
  background-color: #1e7c41;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.menu-bar {
  display: flex;
  align-items: center;
  padding: 3px;
  padding-bottom: 1rem;
  height: 25px;

  background-color: #1e7c41;
}

.menu-item {
  margin-top: 5px;
  padding: 7px 15px;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.hoverSuggestion {
  position: absolute;
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: none;
  min-width: max-content;
  top: 38px;
}

.menu-item:hover {
  background-color: #124f28;
  cursor: pointer;
}

.menu-item.selected {
  background-color: #fff;
  color: #1e7c41;
}

.menu-item.selected:hover {
  background-color: #fff;
  cursor: default;
}

.menu-icon-bar {
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.menu-icon {
  padding-left: 10px;
  padding-right: 10px;
  height: 80%;
  display: flex !important;
  font-size: 20px !important;
  align-items: center;
  border: 1px solid rgb(241, 241, 241);
}

.menu-icon:hover {
  background-color: lightgray;
  cursor: pointer;
}
.icon-cut:hover::after {
  content: 'CUT';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 5px;
  top: 85px; /* Adjust this value as needed */
}
.icon-copy:hover::after {
  content: 'COPY';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 35px;
  top: 85px; /* Adjust this value as needed */
}
.icon-paste:hover::after {
  content: 'PASTE';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 75px;
  top: 85px; /* Adjust this value as needed */
}
.icon-bold:hover::after {
  content: 'BOLD';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 325px;
  top: 85px; /* Adjust this value as needed */
}
.icon-italic:hover::after {
  content: 'ITALIC';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 375px;
  top: 85px; /* Adjust this value as needed */
}
.icon-underline:hover::after {
  content: 'UNDERLINE';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 410px;
  top: 85px; /* Adjust this value as needed */
}
.icon-align_left:hover::after {
  content: 'ALIGN-LEFT';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 460px;
  top: 85px; /* Adjust this value as needed */
}
.icon-align_center:hover::after {
  content: 'ALIGN-CENTER';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 510px;
  top: 85px; /* Adjust this value as needed */
}
.icon-align_right:hover::after {
  content: 'ALIGN-RIGHT';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 590px;
  top: 85px; /* Adjust this value as needed */
}
.download:hover::after {
  content: 'DOWNLOAD';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 760px;
  top: 85px; /* Adjust this value as needed */
}
.import:hover::after {
  content: 'UPLOAD';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 810px;
  top: 85px; /* Adjust this value as needed */
}
.sss:hover::after {
  content: 'SEARCH';
  justify-content: baseline;
  padding: 8px 10px;
  position: absolute;
  /* align-items: baseline; */
  background-color: #232323;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: block;
  min-width: max-content;
  left: 860px;
  top: 85px; /* Adjust this value as needed */
}

#functions :hover .dropdown-content {
  display: block;
}
.search {
  display: flex;
  background-color: white;
  min-width: 300px;
  height: 23.5px;
  border-radius: 5px;
}

#searchInput {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  color: #bbbbbb;
}

#searchInput:focus {
  border: 2px solid #0b57d2;
}

.font-family-selector {
  width: 150px;
}

.selector {
  height: 22px;
  font-size: 14px;
}

.selector option {
  font-size: 14px;
}

.formula-bar {
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: rgb(241, 241, 241);
}

.formula-editor {
  height: 70%;
  border: 1px solid lightgray;
  background-color: #fff;
  padding-left: 0.2rem;
  padding-right: 0.7rem;
  display: flex;
  align-items: center;
  outline-color: #1e7c41;
}

.selected-cell {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.function-sign {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formula-input {
  padding-inline: 5px;
  height: 23px;
  width: calc(100vw - 160px);
}

.data-container {
  height: 73vh;
  display: flex;
  flex-wrap: wrap;
}

.select-all {
  height: 30px;
  width: 50px;
  border: 1px solid lightgray;
}

.row-name-container {
  height: calc(73vh - 30px);
  width: 50px;
  border: 1px solid lightgray;
  overflow: hidden;
}

.row-name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  border-bottom: 1px solid lightgray;
}

.column-name-container {
  height: 30px;
  width: calc(100vw - 50px);
  border: 1px solid lightgray;
  display: flex;
  overflow: hidden;
}

.column-name {
  min-width: 100px;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.input-cell-container {
  width: calc(100vw - 50px);
  height: calc(73vh - 30px);
  border: 1px solid lightgray;
  overflow: scroll;
}

.cell-row {
  display: flex;
}

.input-cell {
  min-width: 100px;
  min-height: 25px;
  padding: 2px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
}

.sheet-actions-container {
  height: 3rem;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 1;
  background-color: #ecf0f1;
}

.sheet-actions-container > * {
  display: inline-block;
}

.sheet-add-icon {
  width: 2vw;
}

.sheet-add-icon:hover {
  cursor: pointer;
}

.sheets-folder-container {
  display: flex;
  align-items: center;
  height: 80%;
  width: 5rem;
  width: calc(100vw - 2vw);
  overflow: auto;
}

.sheet-folder {
  height: 85%;
  text-decoration: underline;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  text-decoration-thickness: 3px;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 214, 224);
  font-family: Arial, Helvetica, sans-serif;
}

.sheet-folder:hover {
  cursor: pointer;
}
.sheet-folder.selected {
  background-color: #ced6e0; /* Selected sheet background color */
}

.sheet-folder {
  background-color: transparent; /* Non-selected sheets have a transparent background */
}

.style-icon {
  margin-left: 15px;
}
.align-icon {
  margin-left: 15px;
}
.icon-color_fill {
  margin-left: 15px;
}
.menu-icon.selected {
  background-color: lightgray;
  box-sizing: border-box;
  border-color: rgb(186, 185, 185);
}

.input-cell.selected {
  outline-color: #1e7c41;
  border: 1.5px solid #1e7c41;
}

.top-cell-selected {
  border-top: none;
}
.bottom-cell-selected {
  border-bottom: 1px solid lightgray;
}
.left-cell-selected {
  border-left: none;
}
.right-cell-selected {
  border-right: 1px solid lightgray;
}

.icon-color_fill img,
.icon-color_text img {
  display: none;
}

.icon-color_fill,
.icon-color_text {
  position: relative;
}
.color-picker {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.download, .import{
    padding-left: 10px;
    padding-right: 10px;
    height: 80%;
    display: flex !important;
    font-size: 20px !important;
    align-items: center;
    border: 1px solid rgb(241, 241, 241);
    cursor: pointer;
}
.sss{
  padding-left: 10px;
  padding-right: 10px;
  height: 80%;
  display: flex !important;
  font-size: 20px !important;
  align-items: center;
  border: 1px solid rgb(241, 241, 241);
  cursor: pointer;
}
.import:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  .download:hover {
    background-color: lightgray;
    cursor: pointer;
  }
@media (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100%;
    overflow: scroll;
  }

  .menu-icon-bar {
    font-size: 12px;
    overflow-y: scroll;
  }

  .font-family-selector {
    width: auto;
  }

  .formula-input {
    width: calc(100vw - 120px);
  }

  .column-name-container {
    width: auto;
  }

  .sheet-folder {
    display: none;
  }
  .sheet-add-icon {
    display: none;
  }
}
